
.container{ display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;   
	padding-top: 2%;
	
    }
.container h2{text-align: center;
color:rgba(173,73,13,1.00);
text-shadow: 2px 2px 5px rgb(255, 242, 230);}

.img{
	float:left;
	-webkit-transition-duration: 0.5s;
		}
.img img{
	padding:10px;
	border:1px solid #fff;
	
}
.img:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
	color: white !important;
	opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}	
.img .mask{
	width:100%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	/*height: 100%; */
		cursor:pointer;
	-webkit-transition-duration: 0.5s;
}
#img1:hover .mask{
	height:0%;	
}

.design a:visited { color: rgba(173,73,13,1.00) !important; }

@media (max-width:1680px){ 
.img img{width:95%;}
}

@media (max-width:1280px){ 
.container{width: 50%;
		display:block;
}
}
@media (max-width:768px){ 

.design{display: block;}
.design h2{font-size:14px;}

}
@media (max-width:480px){
	
	.img img{width:85%;}
	.container h2{font-size: 14px;}
	
	}
